# 1. MySQL 서버 접속

In [ ]:
!pip install pymysql > /dev/null

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

In [ ]:
import json, pymysql
with open(filename) as fp:
    config_str = fp.read()
config = json.loads(config_str)

conn = pymysql.connect(**config)

# 2. Safety 테이블 생성

In [ ]:
cur = conn.cursor()
sql_create_table = '''
    create table if not exists safety ( 
        year char(4) not null, 
        month char(2) not null, 
        day varchar(2) not null,
        hour varchar(2) not null,
        minute varchar(2) not null,
        second varchar(2) not null,
        Person varchar(1) not null,
        Vest varchar(1) not null,
        Helmet varchar(1) not null,
        NoHelmet varchar(1) not null,
        NoVest varchar(1) not null,
        reg_date datetime default current_timestamp         
    );
'''

In [ ]:
cur.execute(sql_create_table)

0

# 3. 데이터 추가

In [ ]:
sql_insert_safety = "INSERT INTO safety(year, month, day, hour, minute, second, Person, Vest, Helmet, NoHelmet, NoVest) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"

In [ ]:
calendar = {1:31,2:29,3:31,4:30,5:31,6:30,7:31,8:31,9:30,10:31,11:30,12:31}
hours = [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
minutes = [00, 10, 20, 30, 40, 50]
seconds = [00, 20, 40]

In [ ]:
import random

for month, days in calendar.items():
    for day in range(1, days+1):
        for hour in hours:
            for minute in minutes:
                for second in seconds:
                    year = '2020'
                    mm = month
                    d = day
                    h = hour
                    mi = minute
                    second = second
                    Person = random.randint(0, 9)
                    Vest = random.randint(0, 9)
                    Helmet = random.randint(0, 9)
                    NoHelmet = random.randint(0, 9)
                    NoVest = random.randint(0, 9)
                    cur.execute(sql_insert_safety, (year, mm , d, h, mi, second, Person, Vest, Helmet, NoHelmet, NoVest))
conn.commit()

In [ ]:
import pandas as pd
sql_state = 'select * from safety;'

df = pd.read_sql_query(sql_state, conn)
df

       year month day hour  ... Helmet NoHelmet NoVest            reg_date
0      2020     1   1    9  ...      7        0      5 2021-12-01 11:19:27
1      2020     1   1    9  ...      3        1      6 2021-12-01 11:19:27
2      2020     1   1    9  ...      2        5      7 2021-12-01 11:19:27
3      2020     1   1    9  ...      0        6      0 2021-12-01 11:19:28
4      2020     1   1    9  ...      0        3      3 2021-12-01 11:19:28
...     ...   ...  ..  ...  ...    ...      ...    ...                 ...
65875  2020    12  31   18  ...      2        7      7 2021-12-01 16:07:28
65876  2020    12  31   18  ...      8        2      0 2021-12-01 16:07:28
65877  2020    12  31   18  ...      8        5      5 2021-12-01 16:07:29
65878  2020    12  31   18  ...      7        6      6 2021-12-01 16:07:29
65879  2020    12  31   18  ...      7        4      8 2021-12-01 16:07:29

[65880 rows x 12 columns]

In [ ]:
df.to_csv('safety.csv', index=False)

In [ ]:
safety = pd.read_csv('safety.csv')
safety

       year  month  day  hour  ...  Helmet  NoHelmet  NoVest             reg_date
0      2020      1    1     9  ...       7         0       5  2021-12-01 11:19:27
1      2020      1    1     9  ...       3         1       6  2021-12-01 11:19:27
2      2020      1    1     9  ...       2         5       7  2021-12-01 11:19:27
3      2020      1    1     9  ...       0         6       0  2021-12-01 11:19:28
4      2020      1    1     9  ...       0         3       3  2021-12-01 11:19:28
...     ...    ...  ...   ...  ...     ...       ...     ...                  ...
65875  2020     12   31    18  ...       2         7       7  2021-12-01 16:07:28
65876  2020     12   31    18  ...       8         2       0  2021-12-01 16:07:28
65877  2020     12   31    18  ...       8         5       5  2021-12-01 16:07:29
65878  2020     12   31    18  ...       7         6       6  2021-12-01 16:07:29
65879  2020     12   31    18  ...       7         4       8  2021-12-01 16:07:29

[65880 rows x 12 columns]

In [ ]:
cur.close()
conn.close()

# 4. 데이터 통계

In [ ]:
import pandas as pd

safety = pd.read_csv('/content/drive/MyDrive/최종프로젝트/자료/safety.csv')
safety

       year  month  day  hour  ...  Helmet  NoHelmet  NoVest             reg_date
0      2020      1    1     9  ...       7         0       5  2021-12-01 11:19:27
1      2020      1    1     9  ...       3         1       6  2021-12-01 11:19:27
2      2020      1    1     9  ...       2         5       7  2021-12-01 11:19:27
3      2020      1    1     9  ...       0         6       0  2021-12-01 11:19:28
4      2020      1    1     9  ...       0         3       3  2021-12-01 11:19:28
...     ...    ...  ...   ...  ...     ...       ...     ...                  ...
65875  2020     12   31    18  ...       2         7       7  2021-12-01 16:07:28
65876  2020     12   31    18  ...       8         2       0  2021-12-01 16:07:28
65877  2020     12   31    18  ...       8         5       5  2021-12-01 16:07:29
65878  2020     12   31    18  ...       7         6       6  2021-12-01 16:07:29
65879  2020     12   31    18  ...       7         4       8  2021-12-01 16:07:29

[65880 rows x 12 columns]

In [ ]:
def cal_hel(row):
  if row.Helmet == row.Person == 0 :               # 1) 헬멧 객체와 사람객체가 0인 경우 미표기
    return '-'
  else:                                            # 2) 사람 >= 헬멧 인 경우 헬멧/사람*100 으로 착용률 계산
    return row.Helmet / row.Person * 100


def cal_vest(row):
  if row.Vest == row.Person == 0 :                # 1) 조끼 객체와 사람객체가 0인 경우 미표기
    return '-'
  else:                                           # 2) 사람 >= 조끼 인 경우 조끼/사람*100 으로 착용률 계산
    return row.Vest / row.Person * 100

In [ ]:
# 헬멧 + 노헬멧 >= 사람 인 경우 사람=헬멧+노헬멧, 조끼 + 노조끼 >= 사람 인 경우 사람=조끼+노조끼
df =safety.copy()
df['Person'] =df.apply(lambda row: row['Helmet'] + row['NoHelmet'] if row['Helmet'] + row['NoHelmet'] >= row['Person'] else row['Person'],axis=1)
df['Person'] =df.apply(lambda row: row['Vest'] + row['NoVest'] if row['Vest'] + row['NoVest'] >= row['Person'] else row['Person'],axis=1) 
df

       year  month  day  hour  ...  Helmet  NoHelmet  NoVest             reg_date
0      2020      1    1     9  ...       7         0       5  2021-12-01 11:19:27
1      2020      1    1     9  ...       3         1       6  2021-12-01 11:19:27
2      2020      1    1     9  ...       2         5       7  2021-12-01 11:19:27
3      2020      1    1     9  ...       0         6       0  2021-12-01 11:19:28
4      2020      1    1     9  ...       0         3       3  2021-12-01 11:19:28
...     ...    ...  ...   ...  ...     ...       ...     ...                  ...
65875  2020     12   31    18  ...       2         7       7  2021-12-01 16:07:28
65876  2020     12   31    18  ...       8         2       0  2021-12-01 16:07:28
65877  2020     12   31    18  ...       8         5       5  2021-12-01 16:07:29
65878  2020     12   31    18  ...       7         6       6  2021-12-01 16:07:29
65879  2020     12   31    18  ...       7         4       8  2021-12-01 16:07:29

[65880 rows x 12 columns]

## 전날 데이터 통계

In [ ]:
import datetime

day = datetime.datetime(2021,1,1) # today 2021-01-01 가정
day_before_1 = day - datetime.timedelta(days=1)

In [ ]:
y = day_before_1.year
m = day_before_1.month
d = day_before_1.day
y, m, d

(2020, 12, 31)

In [ ]:
# 전날 시간대별 헬멧/조끼 평균 착용률
df_yesterday = df[(df.year == y) & (df.month == m) & (df.day == d)].copy()
df_yesterday[['헬멧착용률']] = df_yesterday.apply(cal_hel, axis=1)
df_yesterday[['조끼착용률']] = df_yesterday.apply(cal_vest, axis=1)
df_yesterday.rename(columns = {'year':'연도', 'month':'월', 'day':'일', 'hour':'시간'}, inplace=True)

In [ ]:
df_yesterday = df_yesterday[['연도', '월', '일', '시간', '헬멧착용률', '조끼착용률']].groupby(['연도', '월', '일', '시간']).mean()

In [ ]:
format_mapping = {"헬멧착용률": "{:.2f}%", "조끼착용률": "{:.2f}%"}
df_yesterday = df_yesterday.style.format(format_mapping)
df_yesterday

## 7일전 데이터 통계

In [ ]:
day_before_7 = day - datetime.timedelta(days=7)

In [ ]:
# 일주일 시간대별 헬멧/조끼 평균 착용률
df_before_7days = df[(df.year == y) & (df.month >= day_before_7.month) & (df.day >= day_before_7.day) & (df.month <= m) & (df.day <= d)].copy()
df_before_7days[['헬멧착용률']] = df_before_7days.apply(cal_hel, axis=1)
df_before_7days[['조끼착용률']] = df_before_7days.apply(cal_vest, axis=1)
df_before_7days.rename(columns = {'year':'연도', 'month':'월', 'day':'일', 'hour':'시간'}, inplace=True)

In [ ]:
df_before_7days

         연도   월   일  시간  ...  NoVest             reg_date      헬멧착용률      조끼착용률
64620  2020  12  25   9  ...       5  2021-12-01 16:02:00  63.636364  18.181818
64621  2020  12  25   9  ...       4  2021-12-01 16:02:01   0.000000  66.666667
64622  2020  12  25   9  ...       8  2021-12-01 16:02:01   0.000000  11.111111
64623  2020  12  25   9  ...       6  2021-12-01 16:02:01  72.727273  45.454545
64624  2020  12  25   9  ...       1  2021-12-01 16:02:01  56.250000  18.750000
...     ...  ..  ..  ..  ...     ...                  ...        ...        ...
65875  2020  12  31  18  ...       7  2021-12-01 16:07:28  14.285714  50.000000
65876  2020  12  31  18  ...       0  2021-12-01 16:07:28  80.000000   0.000000
65877  2020  12  31  18  ...       5  2021-12-01 16:07:29  61.538462  61.538462
65878  2020  12  31  18  ...       6  2021-12-01 16:07:29  53.846154  15.384615
65879  2020  12  31  18  ...       8  2021-12-01 16:07:29  43.750000  50.000000

[1260 rows x 14 columns]

In [ ]:
# 각 날마다 시간대별 평균 착용률
df_before_7days = df_before_7days[['연도', '월', '일', '시간', '헬멧착용률', '조끼착용률']].groupby(['연도', '월', '일', '시간']).mean()
df_before_7days = df_before_7days.style.format(format_mapping)
df_before_7days

In [ ]:
# 일주일동안 시간대별 헬멧/조끼 평균 착용률
df_before_7days = df[(df.year == y) & (df.month >= day_before_7.month) & (df.day >= day_before_7.day) & (df.month <= m) & (df.day <= d)].copy()
df_before_7days[['헬멧착용률']] = df_before_7days.apply(cal_hel, axis=1)
df_before_7days[['조끼착용률']] = df_before_7days.apply(cal_vest, axis=1)
df_before_7days.rename(columns = {'year':'연도', 'month':f'월({day_before_7.day}일~{d}일)', 'day':'일', 'hour':'시간'}, inplace=True)

In [ ]:
df_before_7days = df_before_7days[['연도', f'월({day_before_7.day}일~{d}일)', '시간', '헬멧착용률', '조끼착용률']].groupby(['연도', f'월({day_before_7.day}일~{d}일)', '시간']).mean()
df_before_7days = df_before_7days.style.format(format_mapping)
df_before_7days

## 월별 데이터 통계

In [ ]:
df_month = df.copy()
df_month[['헬멧착용률']] = df_month.apply(cal_hel, axis=1)
df_month[['조끼착용률']] = df_month.apply(cal_vest, axis=1)
df_month.rename(columns = {'year':'연도', 'month':'월', 'day':'일', 'hour':'시간'}, inplace=True)

In [ ]:
# 월별 시간대별 데이터 통계
df_month = df_month[['연도', '월', '시간', '헬멧착용률', '조끼착용률']].groupby(['연도', '월', '시간']).mean()
df_month = df_month.style.format(format_mapping)
df_month

In [ ]:
df_month = df.copy()
df_month[['헬멧착용률']] = df_month.apply(cal_hel, axis=1)
df_month[['조끼착용률']] = df_month.apply(cal_vest, axis=1)
df_month.rename(columns = {'year':'연도', 'month':'월', 'day':'일', 'hour':'시간'}, inplace=True)

In [ ]:
# 월별 데이터 통계
df_month = df_month[['연도', '월', '헬멧착용률', '조끼착용률']].groupby(['연도', '월']).mean()
df_month = df_month.style.format(format_mapping)
df_month

## 분기별 데이터 통계

In [ ]:
df_Q = df.copy()

def q4cut(s):
    return pd.qcut(s, 4, labels=["1분기", "2분기", "3분기", "4분기"]).astype(str)

df_Q["분기"] = df_Q.month.transform(q4cut)
df_Q

       year  month  day  hour  ...  NoHelmet  NoVest             reg_date   분기
0      2020      1    1     9  ...         0       5  2021-12-01 11:19:27  1분기
1      2020      1    1     9  ...         1       6  2021-12-01 11:19:27  1분기
2      2020      1    1     9  ...         5       7  2021-12-01 11:19:27  1분기
3      2020      1    1     9  ...         6       0  2021-12-01 11:19:28  1분기
4      2020      1    1     9  ...         3       3  2021-12-01 11:19:28  1분기
...     ...    ...  ...   ...  ...       ...     ...                  ...  ...
65875  2020     12   31    18  ...         7       7  2021-12-01 16:07:28  4분기
65876  2020     12   31    18  ...         2       0  2021-12-01 16:07:28  4분기
65877  2020     12   31    18  ...         5       5  2021-12-01 16:07:29  4분기
65878  2020     12   31    18  ...         6       6  2021-12-01 16:07:29  4분기
65879  2020     12   31    18  ...         4       8  2021-12-01 16:07:29  4분기

[65880 rows x 13 columns]

In [ ]:
df_Q[['헬멧착용률']] = df_Q.apply(cal_hel, axis=1)
df_Q[['조끼착용률']] = df_Q.apply(cal_vest, axis=1)
df_Q.rename(columns = {'year':'연도', 'month':'월', 'day':'일', 'hour':'시간'}, inplace=True)
# 분기별 데이터 통계
df_Q = df_Q[['연도', '분기', '헬멧착용률', '조끼착용률']].groupby(['연도', '분기']).mean()
df_Q = df_Q.style.format(format_mapping)
df_Q

In [ ]:
df_Q = df.copy()

def q4cut(s):
    return pd.qcut(s, 4, labels=["1분기", "2분기", "3분기", "4분기"]).astype(str)

df_Q["분기"] = df_Q.month.transform(q4cut)

# 각 분기별 시간대별 데이터 통계
df_Q[['헬멧착용률']] = df_Q.apply(cal_hel, axis=1)
df_Q[['조끼착용률']] = df_Q.apply(cal_vest, axis=1)
df_Q.rename(columns = {'year':'연도', 'month':'월', 'day':'일', 'hour':'시간'}, inplace=True)
df_Q = df_Q[['연도', '분기', '시간', '헬멧착용률', '조끼착용률']].groupby(['연도', '분기', '시간']).mean()
df_Q = df_Q.style.format(format_mapping)
df_Q

## 1년 시간대별 데이터 통계

In [ ]:
df_year = df.copy()
df_year[['헬멧착용률']] = df_year.apply(cal_hel, axis=1)
df_year[['조끼착용률']] = df_year.apply(cal_vest, axis=1)
df_year.rename(columns = {'year':'연도', 'month':'월', 'day':'일', 'hour':'시간'}, inplace=True)

In [ ]:
# 1년 시간대별 데이터 통계
df_year = df_year[['연도', '시간', '헬멧착용률', '조끼착용률']].groupby(['연도', '시간']).mean()
df_year = df_year.style.format(format_mapping)
df_year